{% if site.post_license %}

<DIV style="font-size:12px;BORDER-BOTTOM: #bbbbbb 1px solid; BORDER-LEFT: #bbbbbb 1px solid; BACKGROUND: #f6f6f6; HEIGHT: 120px; BORDER-TOP: #bbbbbb 1px solid; BORDER-RIGHT: #bbbbbb 1px solid" class=oec2003right> 
<DIV style="MARGIN-TOP: 10px; FLOAT: left; MARGIN-LEFT: 5px; MARGIN-RIGHT: 10px"> 
<IMG alt="" src="http://images.cnblogs.com/cnblogs_com/oec2003/219566/r_fw90100.jpg" width=90 height=100></DIV> 
<DIV style="LINE-HEIGHT: 200%; MARGIN-TOP: 10px; COLOR: #000000"> 
Author： <A href="http://oec2003.github.io/">Haipeng Liu</A> <BR> 
From： <A href="http://oec2003.github.io/">haipengliu.github.io/</A> 
<BR>This article <a target="_blank" title="Creative Commons Attribution 2.5 China Mainland License" href="http://creativecommons.org/licenses/by/2.5/cn/"> 
</a>本文谢绝转载，如需转载需征得作者本人同意，谢谢。 
<a href="http://oec2003.github.io/">Haipengliu</a>（包含链接）。 </DIV></DIV> 
{% endif %}
